default: &default
  MAPS_API_KEY:
  CABI_CLIENT_ID:
  CABI_CLIENT_SECRET:
  CABI_VERIFICATION_TOKEN:

  CANIUSE_CLIENT_ID:
  CANIUSE_CLIENT_SECRET:
  CANIUSE_VERIFICATION_TOKEN:

  CITIBIKE_CLIENT_ID:
  CITIBIKE_CLIENT_SECRET:
  CITIBIKE_VERIFICATION_TOKEN:

  WEATHER_CLIENT_ID:
  WEATHER_CLIENT_SECRET:
  WEATHER_VERIFICATION_TOKEN:
  FORECAST_API_KEY:

  FRINK_CLIENT_ID:
  FRINK_CLIENT_SECRET:
  FRINK_VERIFICATION_TOKEN:
  FRINK_GIF_DURATION:

  UNTAPPD_CLIENT_ID:
  UNTAPPD_CLIENT_SECRET:

  BEER_CLIENT_ID:
  BEER_CLIENT_SECRET:
  BEER_VERIFICATION_TOKEN:

  NEW_RELIC_LICENSE_KEY:

  HOST: localhost:3000


development:
  <<: *default

test:
  <<: *default

production:
  <<: *default
  HOST: slack.gesteves.com
  GOOGLE_ANALYTICS_ID:
