@mixin stripes($background-color: #CCC, $color: #FFF, $angle: -45deg) {
  background-image: repeating-linear-gradient(
    -45deg,
    $background-color,
    $background-color 10px,
    shade($background-color, 2%) 10px,
    shade($background-color, 2%) 20px
  );
  border: 1px solid shade($background-color, 10%);
  color: $color;
  text-shadow: 0 -1px 0 shade($background-color, 30%);
}
