.flash {
  @include stripes($color-alert-default, $color-text);
  align-items: center;
  border-radius: 2px;
  display: flex;
  flex-flow: row nowrap;
  padding: 10px;
  margin: 24px 0;

  .flash__message {
    @extend %sans-serif;
    flex-grow: 1;
    font-size: 16px;
    font-weight: bold;
    line-height: 1;
    margin: 0;
  }
}

.flash--notice {
  @include stripes($color-alert-success);
}

.flash--alert {
  @include stripes($color-alert-danger);
}

.flash--flash {
  @include stripes($color-alert-info);
}
