.header {
  margin: 24px 0;

  h1 {
    font-weight: bold;
    font-size: 36px;
    margin: 1rem 0;
  }

  p {
    font-size: 20px;
    margin: 1rem 0;
    line-height: 1.5;
  }
}

p.header__sign {
  @extend %serif;
  font-size: 16px;
  font-style: italic;
  font-weight: 100;
  text-transform: none;

  a:link,
  a:visited {
    color: $color-text;
    text-decoration: none;
  }

  a:hover,
  a:active {
    color: $color-links;
  }
}
