<!DOCTYPE html>
<html>
  <head>
    <title>Slack Apps</title>
    <meta name="description" content="A Slack app that pulls Simpsons gifs from Frinkiac." />
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
